# Supabase Configuration
VITE_SUPABASE_URL=https://urzwesebmrovdvnzgiur.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVyendlc2VibXJvdmR2bnpnaXVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTgyMjAsImV4cCI6MjA5MDQzNDIyMH0.nmVqieJy87JMQ2ir4PTw-_MpoiKGYP19mYVNppipL5Q

# Exemple avec des vraies valeurs (à remplacer) :
# VITE_SUPABASE_URL=https://abcdefgh.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
